@charset "utf-8";
.min_height{width: 100%;min-height: 860px;}
.bg{background: url("../images/login.jpg") center repeat scroll transparent;height: 650px;overflow: hidden;}
.codeBody{width: 100%;height: 650px;}
.codeBody .registerHeader {padding: 10px 360px;}
.codeBody .registerHeader a {display: block;width: 180px;height: 50px;}
/*.codeBody .codeSearchMainBody{width: 900px;height: 600px;margin: 30px auto; border: 1px solid #e6e6e6;background-color: #fff;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.42);padding: 20px 20px;}*/
.codeBody .codeSearchMainBody{width: 340px;height: 500px;border-radius:3px ; margin: 0px 0% 0px 62%; background: #fff;filter: alpha(opacity=42);background: none repeat scroll 0 0 rgba(255, 255, 255, 0.12);padding: 20px 20px;}
.codeBody .codeSearchMainBody .stepTitle p{font-size: 30px;border-bottom: 1px solid #ccc;color: #fff;}

.codeBody .codeSearchMainBody .Information{width: 100%;}
.codeBody .codeSearchMainBody .Information .information_wrap{width: 500px; margin: 30px auto;}
.codeBody .codeSearchMainBody .Information .information_wrap .generality{display: block; font-size: 16px;color: #eee;}
.codeBody .codeSearchMainBody .Information .information_wrap .leftDistance6{display: block; padding-bottom: 20px;position: relative;border-radius:3px ;}
.codeBody .codeSearchMainBody .Information .information_wrap .leftDistance6 p{padding-bottom: 5px;}
.codeBody .codeSearchMainBody .Information .information_wrap .leftDistance6>i{position: absolute;top: 13px;left: 3px;color: #ccc;}
.codeBody .codeSearchMainBody .Information .information_wrap .uemail{width: 300px;padding-left: 18px;height: 38px;line-height: 40px;border: 1px solid #ccc;}

.codeBody .codeSearchMainBody .Information .information_wrap .codeSpan{position: relative; display: inline-block;width: 300px; height: 40px;border: 1px solid #ccc;position: relative;}
.codeBody .codeSearchMainBody .Information .information_wrap .codeSpan i{position: absolute;top: 14px;left: 2px;color: #ccc;z-index: 1;}
.codeBody .codeSearchMainBody .Information .information_wrap .codeSpan .inputName{position: absolute;top: 0;left: 0; outline: none; border: none;height: 40px;width: 100px;padding-left: 18px;}

.codeBody .codeSearchMainBody .Information .information_wrap .codeSpan #v_container{position: absolute; top: 0;left: 101px; display: inline-block; width: 100px;height: 40px;}
.codeBody .codeSearchMainBody .Information .information_wrap .codeSpan #my_button{position: absolute; top: 0;left: 202px;display: inline-block;width: 98px;height: 40px;border: none;background-color: lightskyblue;color: #fff;}
/*.codeBody .codeSearchMainBody .Information .information_wrap .codeSpan #ranCode{cursor: pointer;vertical-align: middle;margin-bottom: 2px;}*/
.codeBody .codeSearchMainBody .Information .information_wrap .codeSpan .my_button{padding-right: 8px;cursor: pointer;}

.codeBody .codeSearchMainBody .Information .information_wrap .codeSearchButton{display: inline-block;font-weight: 700;font-size: 14px;color: #fff;text-align: center;width: 120px;height: 38px;line-height: 38px;background: #0096e0;margin-top: 20px;border: 1px solid #0096e0;margin-left: 180px;cursor: pointer;}

.codeBody .codeSearchMainBody .Information .information_wrap .generality .inputName{height: 38px;width: 300px;padding-left: 10px; line-height: 40px;}

.codeBody .codeSearchMainBody .Information .information_wrap .codeResetButton{display: inline-block;color: #fff;text-decoration: none;background: #0096e0;cursor: pointer;text-align: center;width: 120px;height: 40px;line-height: 40px;margin-top: 50px;background: #0096e0;border: 1px solid #0096e0;font-weight: 700;font-size: 14px;}







